<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-site</title>
</head>
<body>
    <h1 style="color: navy; font-family: Arial, sans-serif; font-size: 36px; text-align: center; font-weight: bold; margin-top: 20px;">
        Sagar Group of Institutions
    </h1>
    <div style="text-align: center; margin: 20px 0;">
        <img src="{% static 'faculty_image.jpg' %}" alt="Sagar Group of Institutions" style="max-width: 100%; height: auto;">
    </div>
    {%block content %}
    {%endblock%}
</body>
</html>