{% extends 'master.html'%}
{%load static%}
{%block content%}
<div class="content">
    <img src="{%static 'cpp.png'%}" alt="cpp Logo" class="logo">
    <h3>About C++</h3>
    <p>C++ is a powerful, high-performance programming language that is widely used in software development, game development, and system programming. It provides a blend of high-level and low-level language features.</p>

    <h4>Features of C++:</h4>
    <ul>
        <li>Object-Oriented Programming</li>
        <li>Low-Level Memory Manipulation</li>
        <li>High Performance and Efficiency</li>
        <li>Cross-Platform Development</li>
        <li>Rich Library Support (Standard Template Library)</li>
        <li>Supports Both Procedural and Object-Oriented Paradigms</li>
        <li>Extensive Community Support</li>
    </ul>
</div>
{%endblock%}