{%extends 'master.html'%}
{%load static%}
{%block content%}
<div class="content">
    <img src="{%static 'javascript.png'%}" alt="javascript Logo" class="logo">
    <h3>About JavaScript</h3>
    <p>JavaScript is a dynamic, high-level programming language that is essential for creating interactive and responsive web pages. It is widely used for front-end development, and with the advent of Node.js, it is also used for back-end development.</p>

    <h4>Features of JavaScript:</h4>
    <ul>
        <li>Client-Side Scripting</li>
        <li>Event-Driven Programming</li>
        <li>Cross-Browser Compatibility</li>
        <li>Supports Asynchronous Programming (e.g., AJAX)</li>
        <li>Rich Ecosystem of Libraries and Frameworks</li>
        <li>Integration with HTML and CSS</li>
        <li>Extensive Community and Support</li>
    </ul>
</div>
{%endblock%}