{%extends 'master.html'%}
{%load static%}
{%block content%}
<div class="content">
    <img src="{%static 'java.png'%}" alt="java Logo" class="logo">
    <h3>About Java</h3>
    <p>Java is a versatile, high-level programming language that is widely used for building web applications, mobile applications, and enterprise-level software. It is known for its portability, robustness, and wide adoption.</p>

    <h4>Features of Java:</h4>
    <ul>
        <li>Object-Oriented Programming</li>
        <li>Platform Independence (Write Once, Run Anywhere)</li>
        <li>Automatic Memory Management (Garbage Collection)</li>
        <li>Strong Security Features</li>
        <li>Rich API and Library Support</li>
        <li>Multi-threading and Concurrency</li>
        <li>Large Developer Community</li>
    </ul>
</div>
{%endblock%}