{% extends 'master.html'%}
{%load static%}
{% block content %}
<div class="content">
    <img src="{%static 'python.jpg'%}" alt="python Logo" class="logo">
    <h3>About Python</h3>
    <p>Python is a high-level, interpreted programming language known for its readability and versatility. It is widely used in web development, data analysis, artificial intelligence, scientific computing, and more.</p>

    <h4>Features of Python:</h4>
    <ul>
        <li>Easy to Learn and Use</li>
        <li>Interpreted Language</li>
        <li>Cross-platform Compatibility</li>
        <li>Extensive Standard Library</li>
        <li>Supports Multiple Programming Paradigms</li>
        <li>Large Community and Ecosystem</li>
        <li>Excellent for Prototyping and Rapid Development</li>
    </ul>
</div>
{%endblock%}