{%extends 'master.html'%}
{%load static%}
{%block content%}
<div class="content">
    <img src="{%static 'R.jpg'%}" alt="R Logo" class="logo">
    <h3>About R</h3>
    <p>R is a programming language and environment specifically designed for statistical computing and graphics. It is widely used among statisticians and data miners for developing statistical software and data analysis.</p>

    <h4>Features of R:</h4>
    <ul>
        <li>Comprehensive Statistical Analysis</li>
        <li>Data Visualization Capabilities</li>
        <li>Extensive Package Ecosystem (CRAN)</li>
        <li>Open Source and Cross-Platform</li>
        <li>Strong Community Support</li>
        <li>Integrates with Other Languages (e.g., C++, Python)</li>
        <li>Highly Flexible and Extensible</li>
    </ul>
</div>
{%endblock%}